* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: clip;
}

body {
    width: 100vw;
    font-family: "Public Sans";
    font-weight: 100;
    font-size: 15px;
    color: grey;
}

header {
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 2;
}

header img {
    height: 30%;
}

header ul {
    list-style: none;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: flex-end;
    max-width: 50vw;
}

header ul li {
    padding-bottom: 15px;
    border-bottom: 3px solid white;
    padding-left: 8px;
}

header nav .icon {
    display: none;
}

header .topnav {
    display: none;
}

.request-invite {
    background-color: darkgray;
    background-image: linear-gradient(to left, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    min-width: 140px;
    max-width: 140px;
    min-height: 40px;
    max-height: 40px;
    padding-top: 11px;
    font-size: small;
    color: white;
    border-radius: 30px;
    text-align: center;
}

.request-invite:hover{
    opacity: 0.7;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 300;
}

a:hover {
    color: hsl(136, 65%, 51%);
}

/* -------------- article-1 ----------------- */

.article-1 {
    display: flex;
    justify-content: start;
    background-color: hsl(0, 0%, 98%);
}

.article-1-section-1 {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-1-section-1-content {
    max-width: 400px;
}

.article-1-section-1-content h1 {
    font-size: 3em;
    font-weight: 400;
}

.article-1-section-2 {
    width: 50vw;
    background-image: url(./../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: -3vw;
    background-position-y: -30vh;
    min-height: 450px;
}

.article-1-section-2 img {
    width: 50vw;
    margin: -15vh 9vw;
    overflow: clip;

}

/* ------------------ article-2 ---------------------- */

.article-2 {
    background-color: hsl(220, 16%, 96%);
    padding: 8vh 6vw 8vh 6vw;
    overflow-x: scroll;
}

.article-2-section-1 {
    margin-bottom: 7vh;
}

.article-2-section-1 h2 {
    font-size: 1.8em;
    font-weight: 400;
}

.article-2-section-1 p {
    max-width: 500px;
}

.article-2-section-2 {
    display: flex;
}

.feature {
    margin: 10px;
}

.feature img {
    width: 4vw;
    margin-bottom: 1em;
}


/* ----------- article-3 -------------- */
.article-3 {
    background-color: hsl(0, 0%, 98%);
    padding: 8vh 6vw 8vh 6vw;
}

.article-3 h2 {
    font-size: 2em;
    font-weight: 400;
    margin-left: 1vw;
}


.article-3-section {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}


.latest-article {
    background-color: white;
    margin-left: 10px;
    width: 18vw;
    border-radius: 5px;
    font-size: 15px;
    color: grey;
}

.latest-article img {
    width: 18vw;
    border-radius: 10px 10px 0 0;
}

.latest-article-content {
    padding: 10px;
    font-weight: 100;
}

.latest-article-content h5 {
    margin: 10px 0 15px 0;
    font-weight: 100;
    font-size: 10px;

}

.latest-article-content h3:hover {
    color: hsl(136, 65%, 51%);

}


/* --------- footer-------------*/
footer {
    height: 200px;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 6vw 1vh 6vw;
    box-sizing: border-box;
}

.footer-left {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    margin-left: -5vw;
}

.footer-icon {
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footer-icon .footer-logos img{
    padding: 5px;
}

.footer-icon .footer-logos img:hover {
    filter: invert(71%) sepia(28%) saturate(700%) hue-rotate(82deg) brightness(87%) contrast(70%);
}


footer li {
    list-style: none;
    margin: 10px;
    color: white;
}

footer li a {
    color: white;
}

.footer-right {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
}


/*---------------media query------- */

@media (max-width:550px) {

    * {
        box-sizing: border-box;
    }

    body {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }


    header {
        height: 10%;
        margin: 0;
        padding: 0;
        width: 110vw;
        font-size: 10px;
        justify-content: space-around;
    }

    header ul,
    .header-invite {
        display: none;
    }


    header .topnav {
        display: inline-block;
        overflow: hidden;
        background-color: white;
        position: absolute;
        top: 150px;
        z-index: 100;
        margin-left: auto;
        margin-right: 50px;
   
    }

    .topnav #myLinks {
        display: none;
        width: 80vw;
        height: 200px;
        text-align: center;
    }

    .topnav a {
        text-decoration: none;
        font-size: 2em;
        display: block;
        padding: 5px;
    }

    header nav .icon {
     display: block;
        position: relative;
        z-index: 5;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }


    /* ---- article 1 -----*/
    .article-1 {
        flex-direction: column-reverse;
        width: 110vw;
    }

    .article-1-section-2 {
        background-color: aliceblue;
        width: 100vw;
        min-height: 300px;
        background-image: url(./../images/bg-intro-mobile.svg);
        background-size: 140%;
    }

    .article-1-section-2 img {
        width: 90vw;
        max-height: 400px;
    }


    .article-1-section-1 {
        width: 100vw;

    }

    .article-1-section-1-content {

        width: 110vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

    }

    .article-1-section-1-content h1 {
        font-size: 2.5rem;
        text-align: center;
        font-weight: 100;
    }

    .article-1-section-1-content p{
        text-align: center;
    }

    /* ------- arcticle 2--------- */

    .article-2 {
        width: 100%;
        text-align: center;
    }

    .article-2-section-2 {
        display: block;
    }

    .feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .feature img {
        width: 25%;
    }


    .article-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .article-3-section {
        display: flex;
        flex-direction: column;
        margin-top: 3vh;
    }


    .latest-article {
        margin-top: 20px;
        width: 80vw;
        border-radius: 5px;
    }

    .latest-article img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .latest-article-content {
        padding: 15px 25px 30px 25px;
        font-weight: 100;
        color: gray
    }

    .latest-article-content h5 {
        font-weight: 100;
    }

    .latest-article-content h3 {
        font-size: 1em;
        color: gray;
        font-weight: 300;
    }

    .latest-article-content p {

        font-size: 0.7em;
    }



    /* --------- footer-------------*/
    footer {
        height: 450px;
        background-color: hsl(233, 26%, 24%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1vh 6vw 1vh 6vw;
        box-sizing: border-box;
    }

    .footer-left {
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer-icon {
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }


    footer ul {
        text-align: center;
        list-style: none;
        color: white;
    }

    .footer-list-one {
        margin-top: -50px;
    }

    .footer-list-two {
        margin-top: -80px;
    }

    .footer-right {
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}